:root {
    --white: #FFFFFF;
    --primary-color: #e86aa7;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --secundary-color: #e1a3ef;
    --sm: 0.8rem;
    --md: 1rem;
    --lg: 1.2rem;
}